.footer{
    display: flex;
    flex-direction: row;
}
.infoColumn{
    display: flex;
    flex-direction: column;
}
.infoColumn__logo{
    font-family: "Playfair Display",sans-serif;
    font-size: 1.3rem;
    margin-bottom: 5px;
}
.infoColumn__text{
    font-size: .8rem;
    font-family: "Helvetica Now",sans-serif;
    font-weight: 200;
}
.infoColumn__socialMedia{
    display: flex;
    flex-direction: row;
    margin: 12px;
}
.basicColumn{
    display: flex;
    font-size: .8rem;
    font-family: "Helvetica Now",sans-serif;
    font-weight: 200;
    flex-direction: column;
}
.basicColumn ul{
    list-style: none;
}
.basicColumn ul li{
    margin: 5px;
    text-decoration: none;
}