.hero {

  height: 80vh;
  background-image: url('/images/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.hero h1 {
  font-size: 3.8rem;
  color: white;
  font-family: 'Helvetica Now Display', sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 3.4rem;
}
.hero h5 {
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 10px;
}
.heroText {
 height: 100%;
  display: flex;
padding-top: 15vh;
justify-content: center;
  align-self: center;
  flex-direction: column;

  height: 100%;
  max-width: 600px;
}
.buttonsContainer {
  display: flex;
}
.contactButton {
  padding: 10px 20px;
  background-color: white;
  border: none;
  color: black;
  font-family: 'Helvetica Now', sans-serif;
  font-weight: 200;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 1.1rem;
}
.infoButton {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #FDD40D;
  font-family: 'Helvetica Now', sans-serif;
  font-weight: 200;
  border: 1px solid goldenrod;
  color: black;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
}
.arrowIcon {
  margin-left: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
