.studentVoices{
    display: flex;
    height: 60vh;
    flex-direction: row;
    width: 100%;
}
.studentVoicesText{
    display: flex;
    font-family: "Helvetica Now",sans-serif;
    font-weight: 200;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
}
.studentVoicesText p{
    max-width: 60%;
}
.studentVoices h3{
    font-family: "Helvetica Now ",sans-serif;
    font-weight: bold;
}
.studentVoicesImage{
    height: 100%;
    width: 50%;
    max-width: 50%;
    background-color: lightsalmon;
}
.nameAndLocation{
    display: flex;
    flex-direction: column;
}
.name{
    font-size: 1.5rem;
    font-family: "Helvetica Now Display", sans-serif;
    font-weight: bold;
    margin: 10px 0 0 0
}
.location{
    font-size: 1rem;
    margin-bottom: 20px;
    color: lightslategray;
    font-family: "Helvetica Now",sans-serif;
    font-weight: 200;
}
